// configiguring sass 
$font-lan: Courier;
$light-color: #FEF6F4;
$primary-color: #230B06;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: $light-color;
    font-family: $font-lan;
    line-height: 1.6;
}  